* {
  background-color: #d5e6e6;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

body h1 {
  text-align: center;
}
.container {
  text-align: center;
  position: relative;
  text-align: center;
}
.content {
  text-align: left;
  margin: 200px auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
